/* Bruh */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* { 
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bejcolour: #f1e2b3;
    --movcolor: #5a264e;
}

body {
    background-color: #a19f96;
}

body::before {
    display: block;
    content: "";
    height: 60px;
}


@media(min-width: 768px) {
    
}

.hidden {
    visibility: hidden;
    height: 0;
}


/* Nav Bar */

.navbar{
    background-color: var(--bejcolour);
}    

.nav-link,
.navbar-brand {
    color: #a1478c;
}

.navbar.navbar a:hover {
    border-bottom: 2px #a1478c solid;
    border-radius: 5px;
    color: #a793a2;
}

.read {
    padding: 10px;
    border: solid;
    text-decoration: none;
    color: var(--movcolor);
    border-radius: 5px;
}

.card-chenar {
    background-color: var(--bejcolour);
    border-radius: 10px;
    border: solid;
    border-color: #5a264e;
}

.card-body {
    color: #5a264e;
}



.text {
    color: #cc60b3;
}

/* Nav Bar END */
