@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Unspecific tags */

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bejcolour: #b3aaa2;
    --movcolor: #5a264e;
    --primarycolour: #EEE1EE;
    --mov-hovercolor: #96337f;
    --roztext: #fec4e5;

}

*::before, *::after {
    box-sizing: border-box;
}



body {
    margin: 0;
    background-image: url(img/Layer_0.png)
}

body::before {
    display: block;
    content: "";
    height: 60px;
}

h2 {
    color: var(--movcolor);
    border-bottom: var(--movcolor);
}

p {
    color: var(--movcolor);
}

a {
    color: var(--movcolor);
}

a:hover {
    color: var(--mov-hovercolor);
}

.text-mov {
    color: var(--movcolor);
}

.text {
    color: var(--roztext);
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Nav Bar */

.navbar {
    background-color: #fec4e5;
}

.container-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;

}


.navbar-nav {
    display: flex;
    flex-direction: row;

}

.nav-link {
    margin: 15px;
}

.nav-link,
.navbar-brand {
    color: var(--movcolor);
    padding: 0;
}

.navbar.navbar a:hover {
    border-bottom: 2px #a1478c solid;
    border-radius: 5px;
    color: #922e79;

}

.hamburger {
    background-color: transparent;
    border: 0;
    color: #a1478c;
    cursor: pointer;
    font-size: 40px;
    margin-right: 15px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

.navbar-brand {
    margin: auto 22px;
}


/* Nav Bar END */

/* !!!!!!!!!!!!!!!!!!!!!!! */
/* Pagina Main START */
/* !!!!!!!!!!!!!!!!!!!!!!! */

.section-type1 {
    margin: auto;
    max-width: 1524px;
}

.section-type2 {
    margin: auto;
    max-width: 768px;
}

/* Read button */


.read {
    padding: 10px;
    border: solid;
    text-decoration: none;
    color: var(--movcolor);
    border-radius: 5px;
}

.read:hover {
    color: var(--mov-hovercolor);
}





/* SECTION learn */


.first-slide:hover,
.second-slide:hover,
.third-slide:hover {
    box-shadow: 0 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 90px #fa73bf;
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    background-color: rgb(236, 220, 220);
}



/* Banner */

.first.img-fluid {
    width: 45%;
    margin-left: 50px;
}


.card-members-width {
    width: 25%;
}

.team {
    background-color: transparent;
}


/* Acordion */

h2 {
    color: var(--movcolor);
    border-bottom: var(--movcolor);
}

p {
    color: var(--movcolor);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    
}

.accordion-item-background-button {
    background-color: #fff;
    color: var(--movcolor);
}

.accordion-item-background-button::after {
    color: var(--movcolor);
}

.accordion-item-background-text {
    color: var(--movcolor);
}

/* Our Team */

.bg-primary {
    background-color: var(--movcolor) !important;
}


/* !!!!!!!!!!!!!!!!!!!!!!! */
/* Pagina Main END */
/* !!!!!!!!!!!!!!!!!!!!!!! */


/* !!!!!!!!!!!!!!!!!!!!!!! */
/* Pagina Rame Amintiri START */
/* !!!!!!!!!!!!!!!!!!!!!!! */



/* Page Header */



/* !!!!!!!!!!!!!!!!!!!!!!! */
/* Pagina Rame Amintiri END */
/* !!!!!!!!!!!!!!!!!!!!!!! */


/* !!!!!!!!!!!!!!!!!!!!!!! */
/* Pagina Rame Spotify START */
/* !!!!!!!!!!!!!!!!!!!!!!! */


.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 1300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}



.slide {
    
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition: 200ms;
}

.slide > img {
    display: block;
    margin-top: 25px;
    width: 60%;
    height: 97%;
    object-fit: cover;
    object-position: center;
    float: left;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide[data-active]  {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 5 );
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 49.5rem;
}

/* !!!!!!!!!!!!!!!!!!!!!!! */
/* Pagina Rame Spotify END */
/* !!!!!!!!!!!!!!!!!!!!!!! */


/* Contact */

.contact-bg {
    background-color: var(--bejcolour);
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--gricolor);
}

footer.p-5.text-center.position-relative.accordion-item-background-text {
    background-color: var(--roztext);
    -moz-box-shadow: 0 0 5px 5px #fa73bf;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #ffa7d9;
}

@media(min-width: 768px) {
    /* Phone stuff */
}